body {
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 0px;
    background-color: #18181b;
}

h1,h2,h3,h4,h5,h6,label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* article,table{
    background-color: #18181b;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
} */
section,header,footer{
    background-color: #242127;
    margin: 15px;
    padding: 15px;
    border-radius: 30px;
}


a {
    color: #00ffff;
    font-family: verdana;
}

table {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}

table,th,td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}

th {
    padding-top: 15px;
    padding-bottom: 15px;
}

tfoot>tr>td {
    padding-top: 15px;
    padding-bottom: 15px;
}

ul {
    padding-left: 0px;
}

nav>ul>li {
    display: inline;
    margin-right: 15px;
}

ol>article>ul>li {
    margin-bottom: 2px;
}

ol {
    margin: 10px;
}

footer {
    text-align: center;
}

hr {
    margin: 6px;
}

.prof {
    float: left;
    padding-right: 10px;
    padding-top: 11px;
    height: 220px;
    border-radius: 15px;
}

.skill {
    text-align: left;
    border-style: none;
}

.button1 {
    padding: 5px;
    background-color: #00ffff;
    border-color: #00ffff;
    color: #18181b;
    font-weight: 700;
    border-width: 1px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.button2{
    padding: 5px;
    font-weight: 700;
    border-width: 1px;
    background-color: #18181b;
    color: #00ffff;
    border-color: #00ffff;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
#secSkill {
    width: auto;
}

#contact {
    margin-top: 17px;
}
